/* Reseta os padrões */ 

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
   
}

h1, p {
    margin: 0px;
}

ul {
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

/* Estilo do cabeçario */ 

.header-bg {
    background-color:#F8F8F8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    box-sizing: border-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

header a img {
    padding-right: 4px;
}

.header-menu a {
    display: inline-block; 
    font-size: 18px;
    color: #3F3D56;
    font-weight: bold;
    cursor: pointer;
}

/* Estilo geral */

body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    height: 100%;
    
    
}

.content {
    flex: 1;
    padding: 100px 160px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.form {
    flex: 1;
    background-image: url('../static/img/bg-login.svg');
    background-size: cover;
    padding: 100px 160px;
}

.content h1 {
    font-size: 36px;
    font-weight: 800;
    color: #2F2E41;
    padding-bottom: 10px; 
}

.sub {
    color: #838383;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: italic;
    padding-bottom: 20px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #838383;
    font-size: 24px;
}

/* Formulário */

form label {
    display: inline-block;
    margin-bottom: 10px; 
    font-size: 18px;
    font-weight: bold;
    color: #2F2E41; 
}

form input {
    display: inline-block;
    outline: unset;
    width: 405px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #2F2E41;
    margin-bottom: 40px;
    padding-left: 20px;
}

.button {
    display: inline-block; 
    all: unset; 
    padding: 5px 15px;
    background: linear-gradient(#3BD94B 0%, #0D9F1B 100%);
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
    transition: all .5s;
    border-radius: 6px;
    cursor: pointer;
    height: 48px; 
    width: 405px;
    text-align: center;
    margin-bottom: 20px;

}

/* Cadastro */

.inscricao p, .inscricao a {
    display: inline; 
}

.inscricao p {
    font-size: 16px;
    color: #2F2E41;
    margin-right: 15px;

}

.inscricao a {
    font-size: 16px;
    text-decoration: underline;
}
